.header-page {
	text-align: center;
	background-image: url(/assets/img/sucursal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.header-page > div {
	height: 250px;
	background-color: #000000c7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-page > div > h1 {
	font-size: 45px;
	word-break: break-word;
}
