<footer class="footer">
	<div class="ctn footer-content">
		<div>
			<img src="/assets/logo.png" alt="logo" class="logo" [routerLink]="['/']" />
		</div>

		<div>
			<h3 class="footerTitulo">Nosotros</h3>
			<p>Contamos con cuatro talleres especializados para las marcas: Chevrolet, Hyundai, Kía, Ford, Mazda, Toyota, Nissan, Renault, Audi y Volkswagen.</p>
		</div>

		<div>
			<h3 class="footerTitulo">Contáctenos</h3>
			<p>(04) 2123456 PADARIKEIS AUTOMOTORS Ciudadeal "El guasmo"</p>
		</div>

		<div>
			<h3 class="footerTitulo">Horario de atención</h3>
			<p>09:00 AM - 18:00 PM</p>
		</div>
	</div>
</footer>
