<img class="imgPortada" src="/assets/img/portada.jpg" alt="portadaInicio" />

<p-divider align="center">Ofrecemos Servicios de alta calidad </p-divider>

<div class="ctn Panel">
	<p-panel header="Conozca todos los servicios que ofrecemos" class="ancho">
		<p>PADARIKEIS Automotriz abre sus puertas, basado en un Proyecto Universitario de Servicio Técnico Automotriz Especializado en diferentes marcas, en Guayaquil a cargo de un grupo de jóvenes emprendedores, quienes tuvieron la visión de crear una gran empresa que genere nuevas plazas de empleo, colabore con la disminución de la pobreza y el subdesarrollo en nuestro país a través del trabajo.</p>
	</p-panel>
	<div class="imgPanel">
		<img src="/assets/img/imginfo.jpg" alt="Guia" />
	</div>
</div>

<div class="ctn Panel">
	<div class="cardPanel">
		<p-card header="Reconocimiento y Prestigio" styleClass="p-card-shadow">
			<ng-template pTemplate="header">
				<img alt="Card" src="/assets/img/recy.webp" />
			</ng-template>
			<p>Nos respandan nuestros millones de clientes a nivel nacional, y sin olvidar a nuestros 30 años en esta industria</p>
		</p-card>
	</div>

	<div class="cardPanel">
		<p-card header="Garantia" styleClass="p-card-shadow">
			<ng-template pTemplate="header">
				<img alt="Card" src="/assets/img/Garantia.PNG" />
			</ng-template>
			<p>La mejor garantia es la satisfaccion de las personas al adquirir repuestos y mejoras en nuestras intalaciones</p>
		</p-card>
	</div>

	<div class="cardPanel">
		<p-card header="Multimarcas" styleClass="p-card-shadow">
			<ng-template pTemplate="header">
				<img alt="Card" src="/assets/img/Multimarcas.PNG" />
			</ng-template>
			<p>Somos unos de los primeros concensionario en comercializar las mejores marcas del mercado automovilistico</p>
		</p-card>
	</div>
</div>

<div class="ctn tabPanel">
	<p-tabView>
		<p-tabPanel header="Equipo">
			<div class="contTabPanel">
				<div class="contTabImg">
					<img src="/assets/img/equipo.jpg" alt="equipo" />
				</div>
				<p>Contamos con equipo de primera mano para la correcta y facil reparacion de los automoviles que se encuentran en nuestro establecimiento</p>
			</div>
		</p-tabPanel>

		<p-tabPanel header="Personal">
			<div class="contTabPanel">
				<div class="contTabImg">
					<img src="/assets/img/personal.jpg" alt="equipo" />
				</div>
				<p>Tenemos personal especializado en cada area que ofrecemos, contamos con ayuda inmediata en caso de ser requerida por el cliente</p>
			</div>
		</p-tabPanel>

		<p-tabPanel header="Sucursales">
			<div class="contTabPanel">
				<div class="contTabImg">
					<img src="/assets/img/sucursal.jpg" alt="equipo" />
				</div>
				<p>Contamos con mas de 4 sucursales a nivel nacional, 2 en la provincia del guayas, 1 en la capital y la ultima en la ciudad de Cuenca</p>
			</div>
		</p-tabPanel>
	</p-tabView>
</div>
