<app-header-page label="Capacitación"></app-header-page>

<p-divider align="right">
	<p-button label="¡Capacitate AQUI!" icon="pi pi-pencil" styleClass="p-button-outlined" (click)="showModalDialog()"></p-button>
</p-divider>

<p-toast></p-toast>

<p-dialog header="Inscribete en una Capacitacion" [(visible)]="displayModal" [modal]="true">
	<form (submit)="registrarCapacitacion()" autocomplete="off" [formGroup]="formCapacitacion" class="formularioCont">
		<div class="formEstilo">
			<label for="ocupacion">Ocupacion</label>

			<input id="ocupacion" type="text" pInputText formControlName="ocupacion" placeholder="Ocupación" />
		</div>

		<div class="formEstilo">
			<label for="capacitacion">Capacitacion</label>

			<p-dropdown inputId="capacitacion" [options]="selectCapacitacion" placeholder="Seleccione" formControlName="capacitacion"></p-dropdown>
		</div>

		<div class="formEstilo">
			<label for="lugar">Lugar</label>

			<p-dropdown inputId="lugar" [options]="selectLugar" placeholder="Seleccione" formControlName="lugar"></p-dropdown>
		</div>

		<div class="formEstilo">
			<label for="hora">Seleccione la Hora</label>

			<p-dropdown inputId="hora" [options]="selectHora" placeholder="Seleccione" formControlName="hora"></p-dropdown>
		</div>

		<div class="formEstilo">
			<label for="motivo" style="display: block; margin: 20px 0px">¿Por que motivo quiere realizar la capacitacion?</label>

			<textarea id="motivo" rows="5" cols="30" pInputTextarea formControlName="comentario"></textarea>
		</div>

		<div class="formEstilo">
			<div class="field-checkbox">
				<p-checkbox [binary]="true" inputId="binary" formControlName="aceptoTermino"></p-checkbox>

				<label for="binary"> Acepto los terminos y condiciones</label>
			</div>
		</div>

		<div class="botonForm">
			<button type="reset" pButton pRipple label="Cancelar" class="p-button-outlined mb-2"></button>

			<button type="submit" pButton pRipple label="Registrarse" class=""></button>
		</div>
	</form>
</p-dialog>

<div class="ctn cardGrip">
	<p-card *ngFor="let capacitacion of capacitaciones" [header]="capacitacion.nombre" class="cardCapacitacion" styleClass="p-card-shadow">
		<ng-template pTemplate="header">
			<img [alt]="capacitacion.nombre" [src]="capacitacion.imagen" />
		</ng-template>

		<p>{{ capacitacion.texto }}</p>
	</p-card>
</div>

<h1>Videos de Nuestros Servicios de Capacitaciones</h1>

<div class="ctn">
	<div class="cardGrip">
		<div class="contVideo">
			<h3>Curso de Mecánica 1</h3>

			<div class="tamaño_video">
				<iframe src="https://www.youtube.com/embed/uzKnnNizimM" title="YouTube video player" allowfullscreen=""></iframe>
			</div>
		</div>

		<div class="contVideo">
			<h3>Curso de mecánica 2</h3>

			<div class="tamaño_video">
				<iframe src="https://www.youtube.com/embed/K7Kc7uJMbtg" title="YouTube video player" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</div>
